@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

.center {
    margin-top: 30px;
    text-align: center;
    color: white;
}

.footer {
    margin-top: 150px;
    color: white;
}

.text-window {
    height: 275px;
    background: linear-gradient(#DAC6FF, #E6D9FF, #F3EBFF);
    border-radius: 25px;
    padding: 20px; 
    opacity: 90%;
    width: 800px;
}

.login-window {
    height: 400px;
    background: linear-gradient(#DAC6FF, #E6D9FF, #F3EBFF);
    border-radius: 25px;
    padding: 20px; 
    opacity: 90%;
    width: 900px;
    /* margin-top:100px; */
}

.profile-window {
    height: 450px;
    background: linear-gradient(#DAC6FF, #E6D9FF, #F3EBFF);
    border-radius: 25px;
    padding: 20px; 
    opacity: 90%;
    width: 900px;
    /* margin-top:100px; */
}

.registration-window {
    height: 450px;
    background: linear-gradient(#DAC6FF, #E6D9FF, #F3EBFF);
    border-radius: 25px;
    padding: 20px; 
    opacity: 90%;
    width: 800px;
    /* margin-top:100px; */
}

.charts-window {
    height: 1000px;
    background: linear-gradient(#DAC6FF, #E6D9FF, #F3EBFF);
    border-radius: 25px;
    padding: 20px; 
    opacity: 90%;
    width: 1100px;
    /* margin-top:100px; */
}

.high-score-window {
    height: 70px;
    background: linear-gradient(#DAC6FF, #E6D9FF, #F3EBFF);
    border-radius: 25px;
    padding: 20px; 
    opacity: 90%;
    width: 600px;
    /* margin-top:100px; */
}

canvas {
    justify-content: center;
    align-items: center;
}

.navbar {
    font-family: 'Hind Siliguri', sans-serif;
    border-right: 1px ridge #000;
    padding-right: 10px;
}

.text-left {
    margin-left: 430px;
    color: white;
}

#navbar-margin {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 25px;
    padding: 20px; 
}

#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    color:white;
}

.container {
    /* background-color: gray;
    opacity: 50%; */
    font-family: 'Courier New', Courier, monospace;
}

.line-wipe {
    position: relative;
    text-decoration: none !important;
    display: inline-block;
}

.line-wipe:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid rgb(55, 170, 243);
    transition: 0.5s width;
}
  
.line-wipe:hover:after {
    width: 100%;
    border-bottom-color: rgb(0, 86, 179);
}

.text-white {
    color: white;
}

h1,
h2,
h3 {
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace
}

img {
    max-width: 75%;
    max-height: 75%;
}

.game-window {
    position: absolute;
}

.game-summary {
    position: absolute;
    top: 115px;
    left: 1015px;
    color: white;
}
  
.custom-button-1 {
    border: 1px solid limegreen;
    border-radius: 0;
    box-shadow: 2px 2px 0 purple;
    background: white;
  }
  
  .custom-button-1:hover {
    background: black;
    color: white;
    box-shadow: 2px 2px 0 gray;
  }

  
  
  
  

