<!doctype html>
<html>
    <head>
        <meta charset=""utf-8">
        <meta name=""viewport" content="width=device-width">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block kaboomcdn %}{% endblock %}

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block game1 %}{% endblock %}
        {% block profile %}{% endblock %}
        {% block body %}{% endblock %}
        {% block registration %}{% endblock %}
        {% block after_body %}{% endblock %}
    </body>
</html>