<!doctype html>
<html lang="en">
    <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <title>
            {% block title %}{% endblock %}
        </title>

        {% block kaboomcdn %}{% endblock %}
        {% block head %}{% endblock %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-top: 25px; padding-bottom: 25px">
            <a class="navbar-brand" href="/">1-Up.Games</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link line-wipe" href="/">Home <span class="sr-only"></span></a>
                </li>

                {% if 'email' not in session %}

                <li class="nav-item active">
                    <a class="nav-link line-wipe" href="/log-in">Login<span class="sr-only"></span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link line-wipe" href="/registration">Register<span class="sr-only"></span></a>
                </li>

                {% endif %}

                {% if 'email' in session %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/player-profile/{{session['user_id']}}">Profile Details</a>
                      <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Games
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/game-1">Artificial Dunderhead</a>
                    <a class="dropdown-item" href="/game-2">Sundown till Sunrise</a>
                    <a class="dropdown-item" href="/game-3">Responsibility Rain</a>
                  </div>
                </li>

                <li class="nav-item active">
                  <a class="nav-link line-wipe" href="https://discord.gg/nGYYXgKf" target="_blank">Discord<span class="sr-only"></span></a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link line-wipe" href="/about-author" target="_blank">About<span class="sr-only"></span></a>
                </li>
                {% endif %}
              </ul>
              <form class="form-inline my-2 my-lg-0 offset-6" method="GET" name="profile-search" action="/profile/search">
                <div class="input-group">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-keyword" name="keyword" value="Search Profiles!">
                <div class="input-group-append">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
                </div>
              </form>
            </div>
          </nav>

         </div>
    </head>
    <body>
        {% block searchResults %}{% endblock %}
        {% block game1 %}{% endblock %}
        {% block profile %}{% endblock %}
        {% block body %}{% endblock %}
        {% block registration %}{% endblock %}
        {% block after_body %}{% endblock %}
        {% block login %}{% endblock %}
        {% block aboutme %}{% endblock %}
          <video autoplay loop muted playsinline id="bgvid">
            <source src="static/css/landing-page.mp4" type="video/mp4">
          </video>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>