{% extends 'base.html' %}

{% block title %} Responsibility Rain {% endblock %}

{% block kaboomcdn %}

<script src="https://unpkg.com/kaboom@2000.2.8/dist/kaboom.js"></script>

{% endblock  %}


{% block game1 %}

<div class="container">
    <div class="game-window">
        <script src="/static/js/game3.js"></script>
    </div>

    <div class="game-summary">
        <b>[CLASSIFIED] Responsibility Rain</b> <br><br>
        After a long day, one can only hope for precious dreams 
        of life outside of the norm. Remain lazy, remain in bed. 
        But don’t let the intrusive thoughts around your chores 
        ruin your day, avoid them at all costs. On the flip side, 
        keep the good vibes going and lucid dream your next 
        vacation, etc. <br><br>

        Upon every dream-thought you come into contact with, a 
        mysterious and beautiful image overwhelms the background of
        your mind. <br><br>

        Ahh, to sleep well. 
    </div>
</div>

{% endblock %}