{% extends 'base.html' %}

{% block title %} Sundown till Sunrise {% endblock %}

{% block kaboomcdn %}

<script src="https://unpkg.com/kaboom@2000.2.8/dist/kaboom.js"></script>

{% endblock  %}


{% block game1 %}

<div class="container mt-3">
    <div class="game-window">
        <script src="/static/js/game2.js"></script>
    </div>

    <div class="game-summary">
        <b>[CLASSIFIED] Sundown till Sunrise</b> <br><br>
        It’s a crucial time of night for ghouls and 
        goblins; the sun is about to rise in about 2 
        minutes and creatures like V don’t necessarily 
        have an appetite or dark energy then. Upon their 
        arrival home after a wild Friday out, they’re shocked to see their bat 
        children fluttering awake and about. To make 
        matters worse, it seems that ghosts are out to
        get you! <br><br>
        Collect as many of your bat children as you can 
        before the sunrise! They’re all depending on you. <br><br>
        30 seconds before sunrise, V's resting place will become 
        available on the left side of the cemetary. Touch it
        to end the nightmare and stay the living-dead another night.
    </div>
</div>

{% endblock %}