{% extends 'base.html' %}

{% block title %} Project v1 {% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class = 'flashes'>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
{% if 'email' in session %}
<h2>Please Log In</h2>
<form action="/login" method="POST">
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
    <input type="submit">
  </p>
</form>
<br>
{% endif %}
<div>
  New here? 
  <a href="/registration">Create an account</a>
  </div>
{% endblock %}
