{% extends 'base.html' %}

{% block title %} home {% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class = 'flashes'>
    {% for message in messages %}
    {{message}}
    {% endfor %}
  </div>
    {% endif %}
    {% endwith %}


    <!-- <div class="center"></div> -->

  <div class="container text-white window-bg">
    <div class="row text-center">
      <div class="col">
      REIGNING CHAMPION: {{user_name}} with a score of {{highest_score.score}}
      </div>
    </div>
  </div>

  <marquee>
    <div class="text-white">
      Friendly Tip: {{ friendly_tip }}
    </div>
  </marquee>

<div class="container text-white text-window mt-5"
style="background-color: blueviolet";>
  <div class="row">
    <div class="col text-center mt-2">
        <h1>Getting Started</h1>
    </div>
  </div>

  <div class="row">
    <div class="col offset-2"">
        <li>
          Step 1: If you haven't already, register to create an account in the navbar above. <br>
      </li>
      <li>
          Step 2: The navbar should now look different! Click on 'Profile' to access your account. <br>
      </li>
      <li>
          Step 3: When you're ready and logged in, click 'Games' and choose! <br>
      </li><br>
    </div>

      <div class="row offset-1">
      <div class="col text-center">
          <b>Have fun!</b>
      </div>
      </div>
  </div>
</div>

{% endblock %}
