{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block profile %}

<div class="container mt-4 profile-window">
    <div class="row">
        <div class="col-7">
            <h1 id="new-name">{{ user.user_display_name }}'s Profile!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            HIGHEST SCORE: {{ score }}
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <button class="update-display-name custom-button-1" id={{ user.user_id }}> Update Display Name </button>
        </div>
        <div class="col-7">
            <canvas style="padding: 10px;" id="totals-chart" width="400" height="300"></canvas>
        </div>
    </div>
</div>

<div class="container mt-4 charts-window">
    <div class="row">
        <div class="col">
            <h1>Score Data</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <canvas style="padding: 10px;" id="game1-chart" width="350" height="300"></canvas>
        </div>
        <div class="col-5 mt-5 offset-3">
            <img src="/static/css/game1-screencap.png" alt="Image description">
        </div>
    </div>
    <div class="row">
        <div class="col-5 mt-5 offset-1">
            <img src="/static/css/game2-screencast.png" alt="Image description">
        </div>
        <div class="col-6">
            <canvas style="padding: 10px;" id="game2-chart" width="375" height="300"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <canvas style="padding: 10px;" id="game3-chart" width="350" height="300"></canvas>
        </div>
        <div class="col-5 mt-5 offset-3">
            <img src="/static/css/game3-screencap.png" alt="Image description">
        </div>
    </div>
</div>



<span class=display_name_{{ user.user_id }}> </span>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/player-metrics.js"></script>
<script src="/static/js/display-name-update.js"></script>
{% endblock %}