{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block profile %}

<div>
    <h1 id="new-name">{{ user.user_display_name }}'s Profile!</h1>
</div> 
<br>
<div id="user-high-score">HIGHEST SCORE: {{ score }}</div><br>
Update Display Name: 
<button class="update-display-name" id={{ user.user_id }}> Edit Name </button>
<span class=display_name_{{ user.user_id }}> </span>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div class="container align-items-center">
    <div class="row offset-3">
        <div class="col-6">
            <canvas id="totals-chart" width="600" height="400"></canvas>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <canvas id="game1-chart" width="350" height="300"></canvas>
        </div>
        <div class="col-4">
            <canvas id="game2-chart" width="350" height="300"></canvas>
        </div>
        <div class="col-4">
            <canvas id="game3-chart" width="350" height="300"></canvas>
        </div>
    </div>
</div>


<script src="/static/js/player-metrics.js"></script>
<script src="/static/js/display-name-update.js"></script>
{% endblock %}