{% extends 'base.html' %}

{% block registration %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class = 'flashes'>
    {% for message in messages %}
    {{message}}
    {% endfor %}
  </div>
    {% endif %}
    {% endwith %}

<h2>Sign up here:</h2>
<form action="/register-user" method="POST">
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
    Display Name <input type="text" name="display name">
  </p>

  <p>
    <input type="submit">
  </p>
</form>
<br>

{% endblock %}