{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block registration %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class = 'flashes'>
    {% for message in messages %}
    {{message}}
    {% endfor %}
  </div>
    {% endif %}
    {% endwith %}

<div class="container text-white mt-4">
  <div class="col-4 offset-4">
    <div class="row">
      <h2>Register Account</h2>
      <form action="/register-user" method="POST">
        <p>
          E-mail<input
                type="text"
                class="form-control"
                id="basicTextInput"
                name="email"
              >
        </p>

        <p>
          Password <input
          type="password"
          class="form-control"
          id="basicTextInput"
          name="password"
        >
        </p>

        <p>
          Display Name <input
          type="text"
          class="form-control"
          id="basicTextInput"
          name="display name"
        >
        </p>

        <p>
          <input class="custom-button-1" type="submit">
        </p>
      </form>
    </div>
  </div>
</div>

<br>

{% endblock %}